<h2>MAP BRUH 🤷‍♂️🤦‍♂️</h2>
<div class="map-list-container">
	<split [direction]="direction">
		<split-area size="50">
			<ngui-map zoom="8" center="Albuquerque, New Mexico" mapTypeId="terrain">
				<marker *ngFor="let mapRecArea of recAreas" [position]="[recArea.recAreaLat, recArea.recAreaLong]"
				(click)="clicked($event)" (click)="displayRecArea(mapRecArea)"></marker>
				<info-window>
				{{mapRecArea.recAreaId}}
				<!--<a [routerLink]="'/recArea/' + detailedRecArea.recAreaId">Check out this recArea</a>-->
				</info-window>
			</ngui-map>
		</split-area>

		<split-area size="50">
			<!--<div class="row">-->
				<!--<p>{{recArea.recAreaName}}</p>-->
			<!--</div>-->
		</split-area>
	</split>
</div>


<recArea-modal></recArea-modal>


<!--<div *ngIf="detailedRecArea.recAreaId !== null" >-->

<!--<h1 class="rounded-top">{{detailedRecArea.recAreaName}}</h1>-->

<!--<button class="btn btn-block" (clicked)="goTorecArea()">Go to Page</button>-->

<!--</div>-->

<!--<div class="map-list-container">-->
	<!--<div class="col-map" id="map">-->
		<!--<ngui-map zoom="10" center="Albuquerque, New Mexico" mapTypeId="terrain">-->

		<!--</ngui-map>-->
	<!--</div>-->
	<!--<div class="col-list" id="list">-->
		<!--<div class="row">-->
			<!--<div class="col-12"></div>-->
		<!--</div>-->
	<!--</div>-->
<!--</div>-->


<!--<button class="btn btn-view" id="toggle">List/Map</button>-->
<button class="btn btn-view" id="toggle" (click)="direction = (direction === 'horizontal') ? 'vertical' : 'horizontal'">{{ 'Toggle direction: "' + direction + '"' }}</button>
