<h2>MAP BRUH 🤷‍♂️🤦‍♂️</h2>
<div class="map-list-container">
	<split [direction]="direction">
		<split-area size="50" >
			<div class="ngui-map-container">
			<div class="div-wrapper">
			<ngui-map zoom="8" center="Albuquerque, New Mexico" mapTypeId="terrain">
				<marker *ngFor="let mapRecArea of recAreas" [position]="[mapRecArea.recAreaLat, mapRecArea.recAreaLong]" data-toggle="modal" data-target="#recAreaModal" (click)="clicked($event)" (click)="displayRecArea(mapRecArea)"></marker>
				<info-window id="#recAreaInfo">
					<h5>Test Info Window</h5>
				</info-window>
			</ngui-map>
			</div>
			</div>
		</split-area>

		<split-area size="50" class="col-list">
			<div class="container-fluid recArea-panel">
				<div class="row align-content-center justify-content-center">

					<div class="col-12 opacity-visible">
						<div class="text-center">
							<pagination-controls (pageChange)="page = $event"></pagination-controls>
						</div>
						<div class="searchForm col-12" data-toggle="modal" data-target="#recAreaModal"
							  *ngFor="let recArea of recAreas | paginate: { itemsPerPage: 10, currentPage: page }">
							<div class="row">
								<div class="col-12">
									<h3>{{recArea.recAreaName}}</h3>
									<img class="img-fluid" src="{{recArea.recAreaImageUrl}}" alt="rec area image">
								</div>
								<ul>
									<li>{{recArea.recAreaDescription}}</li>
									<li>{{recArea.recAreaDirections}}</li>
								</ul>
								<img src="{{recArea.recAreaMapUrl}}">
							</div>
						</div>
					</div>
				</div>
			</div>
		</split-area>
	</split>
</div>


<recArea-modal></recArea-modal>


<!--<div *ngIf="detailedRecArea.recAreaId !== null" >-->

<!--<h1 class="rounded-top">{{detailedRecArea.recAreaName}}</h1>-->

<!--<button class="btn btn-block" (clicked)="goTorecArea()">Go to Page</button>-->

<!--</div>-->

<!--<div class="map-list-container">-->
	<!--<div class="col-map" id="map">-->
		<!--<ngui-map zoom="10" center="Albuquerque, New Mexico" mapTypeId="terrain">-->

		<!--</ngui-map>-->
	<!--</div>-->
	<!--<div class="col-list" id="list">-->
		<!--<div class="row">-->
			<!--<div class="col-12"></div>-->
		<!--</div>-->
	<!--</div>-->
<!--</div>-->


<!--<button class="btn btn-view" id="toggle">List/Map</button>-->
<button class="btn btn-view" id="toggle" (click)="direction = (direction === 'horizontal') ? 'vertical' : 'horizontal'">{{ 'Toggle direction: "' + direction + '"' }}</button>
