<nav class="main-nav navbar navbar-expand-lg navbar-dark">
	<a class="navbar-brand" routerLink="">NM Outdoors</a>
	<a class="navbar-brand ml-auto"></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
			  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>


	<div class="main-nav-list collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item active">
				<a class="nav-link" routerLink="">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="explore">Explore</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="about">About</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="sign-in">Sign In</a>
			</li>
			<li>
				<a class="nav-link" routerLink="profile">My Profile</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" data-toggle="modal" data-target="#sign-up-modal">Sign Up</a>
			</li>
		</ul>
	</div>
	<sign-up></sign-up>
</nav>