
	<nav class=" navbar navbar-expand-lg navbar-dark justify-content-end">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
			<ul class="nav justify-content-center">
				<li class="nav-item">
					<a class="nav-link active" routerLink="">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="explore">Explore</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="">Search</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="about">About</a>
				</li>
			</ul>
		</div>
	</nav>


<h1>🌄NM Outdoors🌄</h1>
	<router-outlet></router-outlet>

	<footer class="bg-dark text-light">
		<div class="container-fluid mt-4">
			<div class="row justify-content-center">
				<div class=" text-center pb-3"> 🌄 NM-Outdoors 🌄 ©2018</div>
			</div>
		</div>
	</footer>