<!--
 this component is sign in feature that will allow the user
 to access their profile via the landing (home) page or nav.
-->


<main>
	<form #signInForm="ngForm" (ngSubmit)="signIn()" class="form-horizontal form-control-md mt-5" id="signInForm" novalidate>
		<div class="container">
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<div class="card text-center card  bg-default mb-3">
						<div class="card-header">
							<h2 class="text-center mt-3 mb-3">Sign In</h2>
						</div>
						<div class="card-body">
							<label class="form-group control-label" for="profileEmail">Email:</label>
							<input id="profileEmail" type="email" name="profileEmail" [(ngModel)]="signin.profileEmail" #profileEmail="ngModel" class="input-group input-medium" placeholder="" required="required">
							<br />
							<label class="form-group control-label" for="profilePassword">Password:</label>
							<input id="profilePassword" type="password" name="profilePassword" [(ngModel)]="signin.profilePassword" #profilePassword="ngModel" class="input-group input-medium" placeholder="********" required="required">
						</div>
						<div class="card-footer text-muted">
							<button type="reset" class="btn btn-warning text-light"><i class="fas fa-undo"></i>Reset</button>
							<button type="submit" class="btn btn-primary text-light mr-3" (click)="signIn();">
								<i class="fas fa-edit"></i>Sign In</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</main>

