<phpunit>
	<testsuites>
		<testsuite name="NM Outdoors Data Design">
			<file>RecArea.php</file>
			<!--<file>TweetTest.php</file>-->
			<!--<file>FavoriteTest.php</file>-->
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">..</directory>
		</whitelist>
	</filter>
</phpunit>

<!--These make the tests run functionally. Must insert one at a time and run individually, going in order of SQL tables (recArea, profile, etc)-->