@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

/** Main Styling File **/

/** Styling for Profile elements **/

.card {
	max-width: 90%;
	align-items: center;
	align-content: center;
}

.profileImageUrl {
	width: 100px;
	padding: 2px;
	margin-left: 6px;
}

/** End Styling for Profile elements **/


/** Styling for About elements **/
.about-content {

}

.about-h3 {
	text-align: center;
	padding: 14px;
}

.about-par {
	text-align: center;
	width: 55%;
}

.card-img-top {
	box-shadow: 4px 4px 6px 2px #aaa;
	margin: 20px;
	width: 80%;
}
/** End Styling for About elements **/

/*****************************************************
* Global Styles
******************************************************/

*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	background: #fff;
}

html {
	font-size: 62.5%;

}

@media (max-width: 75em) {
	html {
		font-size: 56.25%;
	}
}

@media (max-width: 56.25em) {
	html {
		font-size: 50%;
	}
}

@media (min-width: 112.5em) {
	html {
		font-size: 75%;
	}
}

body {
	font-family: "Verdana", monospace;
	font-size: 1.5em;
	min-height: 100vh;
	color: #57585c;
	color: var(--color-text);
	background-color: #fff;
	background-color: var(--color-bg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
}
/*****************************************************
* Explore Page Styling
******************************************************/
* {
	box-sizing: border-box;
	transition: .5s;
}

.overflow-hidden {
	overflow: hidden;
}

.recArea-panel {
	height: 100vh;
	width: 40vw;
	overflow-y: auto;
	background-color: #FFE53B;
	background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
	opacity: 0.9;
	right: 0;
	top: 0;
	bottom: 0;
	float: right;
	margin-bottom: 5vh;
	padding: 5% 5% 15% 5%;
}
.recArea-list {
	overflow-y: auto;
}

.recArea-list .opacity-visible {
	opacity: 1 !important;
}

/* Create two equal columns that floats next to each other */
.hide {
	visibility: hidden;
}

.show {
	visibility: visible;
}

.col-map {
	float: left;
	width: 50%;
	min-height: 100%;
	background-color: #fbd54a;
}

.col-map-full {
	width: 100vw;
	min-height: 100vh;
	background-color: #fbd54a;
}

.col-list {
	float: right;
	width: 50%;
	min-height: 100%;
	background-color: #ff9827;
}

.col-list-full {
	width: 100vw;
	min-height: 100vh;
	background-color: #ff9827;
}

@media screen and (max-width: 600px) {
	.col-map {
		width: 100%;
		min-height: 50%;
		background-color: #fbd54a;
	}

	.col-map-full {
		width: 100vw;
		min-height: 100vh;
		background-color: #fbd54a;
		top: 0;
		right: 0;
		position: fixed;
	}

	.col-list {
		width: 100%;
		min-height: 50%;
		background-color: #ff9827;
	}

	.col-list-full {
		width: 100vw;
		min-height: 100vh;
		background-color: #ff9827;
	}
}

@media screen and (max-width: 55em) {
	html,
	body {
		width: 100vw;
		height: 100vh;
	}

	.btn-view {
		position: fixed;
		bottom: 1em;
		right: 0.5em;
		transform: scale(0.75);
	}

	footer {
		width: 100vw;
		bottom: 0;
		height: 5vh;
		position: fixed;
	}

}


#map {
	-webkit-transition: width 0.3s ease;
	-moz-transition: width 0.3s ease;
	-o-transition: width 0.3s ease;
	transition: width 0.3s ease;
	background: #f12711;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#list {
	-webkit-transition: margin 0.3s ease;
	-moz-transition: margin 0.3s ease;
	-o-transition: margin 0.3s ease;
	transition: margin 0.3s ease;
	background: #00b09b;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #96c93d, #00b09b);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*****************************************************
* Footer Styling
******************************************************/
footer {
	background-image: linear-gradient( 122deg, #00c064 0%, #26aca6 100%);
	width: 100vw;
	bottom: 0;
	height: 5vh;
	position: fixed;
}

ngui-map {
	min-height: 100%;
}

.div-wrapper {
	height: 100%;
	width: 60vw;
}

.ngui-map-container {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

/*split-area {*/
/*height: 100vh;*/
/*width: 50vw;*/
/*}*/
/*@media (max-width: 800px) {*/
/*split-area {*/
/*height: 50vh;*/
/*width: 100vw;*/
/*}*/
/*}*/
@media (max-width: 960px) {
	ngui-map {
		height: 50vh; } }

.top {
	position: fixed;
}

/*****************************************************
* NavBar Styling
******************************************************/

.navbar-dark {
	background-image: linear-gradient( 122deg, #00c064 0%, #26aca6 100%);
	border-bottom-left-radius: 5%;
	border-bottom-right-radius: 5%;
	/*line-height: 5vh;*/
	/*height: 5vh;*/
	/*padding-top: 0;*/
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
	color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
	color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
	color: #ffffff;
}

/*.navbar, .navbar-brand,*/
/*.navbar-nav li a {*/
/*line-height: 5vh;*/
/*height: 5vh;*/
/*padding-top: 0;*/
/*}*/

.custom-toggler.navbar-toggler {
	border-color: rgb(255, 255, 255);
}
.custom-toggler .navbar-toggler-icon {
	color: #ffffff;
}

.area-wrapper {
	overflow: scroll;
	height: 100vh;
	width: 100vw;
}

.home-wrapper {
	width: 100%;
	position: relative;
}

.absolute-wrapper {
	position: absolute;
	width: 100%;
}

/*****************************************************
* Buttons
******************************************************/
.btn-primary {
	color: #fff;
	border-radius: 3px;
	background-image: linear-gradient( 122deg, #633991 0%, #c1156c 100%);
	box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.2);
	font-weight: 500;
	border: 0;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:not([disabled]):not(.disabled).active,
.btn-primary:not([disabled]):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
	background-image: linear-gradient( 122deg, #4e2a75 0%, #a01059 100%);
	box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.3);
	color: #FFF;
}

.btn-default {
	color: #fff;
	border-radius: 3px;
	background-image: linear-gradient( 122deg, #969696 0%, #dcdcdc 100%);
	box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.2);
	font-weight: 500;
	border: 0;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default:not([disabled]):not(.disabled).active,
.btn-default:not([disabled]):not(.disabled):active,
.show>.btn-default.dropdown-toggle {
	background-image: linear-gradient( 122deg, #828282 0%, #d4d4d4 100%);
	box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.3);
	color: #FFF;
}

.btn-info {
	color: #fff;
	border-radius: 3px;
	background-image: linear-gradient( 122deg, #00c0ef 0%, #9fecff 100%);
	box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.2);
	font-weight: 500;
	border: 0;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info:not([disabled]):not(.disabled).active,
.btn-info:not([disabled]):not(.disabled):active,
.show>.btn-info.dropdown-toggle {
	background-image: linear-gradient( 122deg, #00acd6 0%, #65ddfb 100%);
	box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.3);
	color: #FFF;
}

.btn-success {
	color: #fff;
	border-radius: 3px;
	background-image: linear-gradient( 122deg, #28c7c0 0%, #00ff8b 100%);
	box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.2);
	font-weight: 500;
	border: 0;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success:not([disabled]):not(.disabled).active,
.btn-success:not([disabled]):not(.disabled):active,
.show>.btn-success.dropdown-toggle {
	background-image: linear-gradient( 122deg, #24b3ad 0%, #00e27b 100%);
	box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.3);
	color: #FFF;
}

.btn-warning {
	color: #fff;
	border-radius: 3px;
	background-image: linear-gradient( 122deg, #f49220 0%, #ffbe56 100%);
	box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.2);
	font-weight: 500;
	border: 0;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning:not([disabled]):not(.disabled).active,
.btn-warning:not([disabled]):not(.disabled):active,
.show>.btn-warning.dropdown-toggle {
	background-image: linear-gradient( 122deg, #e07f1b 0%, #fbaa33 100%);
	box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.3);
	color: #FFF;
}

.btn-danger {
	color: #fff;
	border-radius: 3px;
	background-image: linear-gradient( 122deg, #d64635 0%, #ff604d 100%);
	box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.2);
	font-weight: 500;
	border: 0;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger:not([disabled]):not(.disabled).active,
.btn-danger:not([disabled]):not(.disabled):active,
.show>.btn-danger.dropdown-toggle {
	background-image: linear-gradient( 122deg, #ce4333 0%, #f55c4a 100%);
	box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.3);
	color: #FFF;
}