@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat');

	/** Main Styling File **/

/** Styling for Home/Landing page elements **/
.header-image {
	width: 100%;
	box-shadow: 2px 2px 6px 6px #aaa;
	margin-bottom: 15px;
}

.home-container {
	max-width: 100%;
}

.home-content {
	font-family: 'Montserrat', sans-serif;
}

.home-content h1 {
	font-size: 40px;
	color: #5B7B87;
	text-align: center;
	margin-top: 30px;
}

.home-content p {
	text-align: center;
	padding: 20px;
	max-width: 80%;
}

.adventure {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	color: #5B7B87;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 15px;
	max-width: 50%;
}

.custom-select {
	height: 100%;
	max-width: 50%;
}

/** End Styling for Home/Landing page elements **/
/** Styling for review post section **/

.user-image {
	width: 50px;

}
/** Styling for Profile elements **/

.card {
	max-width: 90%;
	align-items: center;
	align-content: center;
}

.profile-image {
	width: 100px;
	padding: 2px;
	margin-left: 6px;
}

/** End Styling for Profile elements **/
/** Styling for About elements **/
.about-content {

}

.about-h3 {
	text-align: center;
	padding: 14px;
}

.about-par {
	font-size: 14px;
	text-align: center;
	width: 60%;
}

/*.card-img-top {*/
	/*box-shadow: 4px 4px 6px 2px #aaa;*/
	/*margin: 20px;*/
	/*width: 50%;*/
/*}*/


/** End Styling for About elements **/
/** Styling for Area elements **/

.rec-area-name {
	text-align: center;
	padding: 4px;
}

.rec-area-image {
	height: 50vh;
}

.rec-area-par-details {
	max-width: 90%;
	padding: 4px;
}

.rec-area-list-name {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	padding: 10px;
	font-size: 20px;
}

.rec-area-list-details {
	font-family: 'Montserrat', sans-serif;
	padding: 6px;
	font-size: 14px;
	max-width: 70%;
}

.review-rate-element {
	text-align: center;
}

.review-rate-element-buttons {
	margin: 10px;
}

.pagination-control {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}

/** End Styling for Area elements **/
/** Styling for Footer elements **/

.footer-brand {
	width: 50px;
	padding: 6px;
}

/** End Styling for Footer elements **/
/*****************************************************
* Global Styles
******************************************************/

html {
	background: #fff;
}

html {
	font-size: 62.5%;

}


@media (max-width: 56.25em) {
	html {
		font-size: 65%;
	}
}

@media (min-width: 112.5em) {
	html {
		font-size: 80%;
	}
}

body {
	font-family: "Verdana", monospace;
	font-size: 1.5em;
	min-height: 100vh;
	color: #57585c;
	color: var(--color-text);
	background-color: #fff;
	background-color: var(--color-bg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
}
/*****************************************************
* Explore Page Styling
******************************************************/
.fadeInRight, .fadeInLeft, .fadeInUp, .fadeInDown{
	opacity:0;
	-webkit-transform: translateX(400px);
	transform: translateX(400px);
}

/*************
* FadeInUp *
*************/

@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(400px);
	}
	50%{
		opacity: 0.3;
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}
@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(400px);
	}
	50%{
		opacity: 0.3;
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
.fadeInUp{
	opacity: 0;
	-webkit-transform: translateY(400px);
	transform: translateY(400px);
}
.fadeInUp.go {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
}

.overflow-hidden {
	overflow: hidden;
}



.recArea-panel {
	height: 100vh;
	overflow-y: auto;
	background-color: #FFE53B;
	background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
	opacity: 0.9;
	right: 0;
	top: 0;
	bottom: 0;
	float: right;
	margin-bottom: 5vh;
	padding: 5% 5% 15% 5%;
}
.recArea-list {
	overflow-y: auto;
}

.recArea-list .opacity-visible {
	opacity: 1 !important;
}

/* Create two equal columns that floats next to each other */
.hide {
	visibility: hidden;
}

.show {
	visibility: visible;
}

.col-map {
	float: left;
	width: 50%;
	min-height: 100%;
	background-color: #fbd54a;
}

.col-map-full {
	width: 100vw;
	min-height: 100vh;
	background-color: #fbd54a;
}

.col-list {
	float: right;
	width: 50%;
	min-height: 100%;
	background-color: #ff9827;
}

.col-list-full {
	width: 100vw;
	min-height: 100vh;
	background-color: #ff9827;
}

ngui-map {

}

@media screen and (max-width: 600px) {
	.col-map {
		width: 100%;
		min-height: 50%;
		background-color: #fbd54a;
	}

	.col-map-full {
		width: 100vw;
		min-height: 100vh;
		background-color: #fbd54a;
		top: 0;
		right: 0;
		position: fixed;
	}

	.col-list {
		width: 100%;
		min-height: 50%;
		background-color: #ff9827;
	}

	.col-list-full {
		width: 100vw;
		min-height: 100vh;
		background-color: #ff9827;
	}

	.recArea-panel {
		height: 100vh;
		width: 100vw;
		overflow-y: auto;
		background-color: #FFE53B;
		background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
		opacity: 0.9;
		right: 0;
		top: 0;
		bottom: 0;
		float: right;
		margin-bottom: 5vh;
		padding: 5% 5% 15% 5%;
	}

	ngui-map {
		min-height: 100vh;
	}

	.div-wrapper {
		min-height: 100vh;
		width: 100vw;
	}

	.ngui-map-container {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
	}
}

@media screen and (max-width: 55em) {
	html,
	body {
		width: 100vw;
		height: 100vh;
	}

	.btn-view {
		position: fixed;
		bottom: 1em;
		right: 0.5em;
		transform: scale(0.75);
	}

	footer {
		width: 100vw;
		bottom: 0;
		position: fixed;
	}

}

.btn {
	padding: 0.6rem 2rem;
	margin: 5px;
	border-radius: 5%;
}
.btn-view {
	color: #fff;
	border-radius: 3px;
	background-image: linear-gradient(122deg, #21a2c7 0%, #2daa34 100%);
	box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.2);
	font-weight: 500;
	border: 0;
	position: absolute;
	bottom: 5em;
	right: 2.25em;
}
.btn-view:hover,
.btn-view:focus,
.btn-view:active,
.btn-view:not([disabled]):not(.disabled).active,
.btn-view:not([disabled]):not(.disabled):active,
.show > .btn-view.dropdown-toggle {
	background-image: linear-gradient(122deg, #214991 0%, #206824 100%);
	box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.3);
	color: #FFF;
}

#map {
	-webkit-transition: width 0.3s ease;
	-moz-transition: width 0.3s ease;
	-o-transition: width 0.3s ease;
	transition: width 0.3s ease;
	background: #f12711;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#list {
	-webkit-transition: margin 0.3s ease;
	-moz-transition: margin 0.3s ease;
	-o-transition: margin 0.3s ease;
	transition: margin 0.3s ease;
	background: #00b09b;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #96c93d, #00b09b);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*****************************************************
* Footer Styling
******************************************************/
footer {
	background-image: linear-gradient(122deg, #81A0B9 0%, #668CAA 100%);
	width: 100vw;
	bottom: 0;
	position: fixed;
	text-align: center;
}

ngui-map {
	min-height: 100vh;
}

.div-wrapper {
	height: 100%;
	width: 100%;
}

.ngui-map-container {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

split-area {
height: 100vh;
width: 50vw;
}
@media (max-width: 800px) {
split-area {
height: 50vh;
width: 100vw;
}
}
@media (max-width: 960px) {
	ngui-map {
		height: 50vh; } }

.top {
	position: fixed;
}

/*****************************************************
* NavBar Styling
******************************************************/
.main-nav {
	font-family: 'Montserrat', sans-serif;
}

.navbar-brand {
	font-size: 24px;
}

.main-nav-list {
	font-family: 'Montserrat', sans-serif;
	color: #5B7D87;
}

.nav-link {
}

.navbar-toggler-icon {
	float: right;
	right: 0;
}

.navbar-dark {
	background-image: linear-gradient(122deg, #81A0B9 0%, #668CAA 100%);
}

.area-wrapper {
	overflow: scroll;
	height: 100vh;
	width: 100vw;
	padding-bottom: 15vh
}

.home-wrapper {
	width: 100%;
	position: relative;
}

.absolute-wrapper {
	position: absolute;
	width: 100%;
}

/*****************************************************
* Buttons
******************************************************/
.btn-primary {
	color: #fff;
	border-radius: 3px;
	background-image: linear-gradient( 122deg, #633991 0%, #c1156c 100%);
	box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.2);
	font-weight: 500;
	border: 0;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:not([disabled]):not(.disabled).active,
.btn-primary:not([disabled]):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
	background-image: linear-gradient( 122deg, #4e2a75 0%, #a01059 100%);
	box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.3);
	color: #FFF;
}

.btn-default {
	color: #fff;
	border-radius: 3px;
	background-image: linear-gradient( 122deg, #969696 0%, #dcdcdc 100%);
	box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.2);
	font-weight: 500;
	border: 0;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default:not([disabled]):not(.disabled).active,
.btn-default:not([disabled]):not(.disabled):active,
.show>.btn-default.dropdown-toggle {
	background-image: linear-gradient( 122deg, #828282 0%, #d4d4d4 100%);
	box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.3);
	color: #FFF;
}

.btn-info {
	color: #fff;
	border-radius: 3px;
	background-image: linear-gradient( 122deg, #00c0ef 0%, #9fecff 100%);
	box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.2);
	font-weight: 500;
	border: 0;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info:not([disabled]):not(.disabled).active,
.btn-info:not([disabled]):not(.disabled):active,
.show>.btn-info.dropdown-toggle {
	background-image: linear-gradient( 122deg, #00acd6 0%, #65ddfb 100%);
	box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.3);
	color: #FFF;
}

.btn-success {
	color: #fff;
	border-radius: 3px;
	background-image: linear-gradient( 122deg, #28c7c0 0%, #00ff8b 100%);
	box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.2);
	font-weight: 500;
	border: 0;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success:not([disabled]):not(.disabled).active,
.btn-success:not([disabled]):not(.disabled):active,
.show>.btn-success.dropdown-toggle {
	background-image: linear-gradient( 122deg, #24b3ad 0%, #00e27b 100%);
	box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.3);
	color: #FFF;
}

.btn-warning {
	color: #fff;
	border-radius: 3px;
	background-image: linear-gradient( 122deg, #f49220 0%, #ffbe56 100%);
	box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.2);
	font-weight: 500;
	border: 0;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning:not([disabled]):not(.disabled).active,
.btn-warning:not([disabled]):not(.disabled):active,
.show>.btn-warning.dropdown-toggle {
	background-image: linear-gradient( 122deg, #e07f1b 0%, #fbaa33 100%);
	box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.3);
	color: #FFF;
}

.btn-danger {
	color: #fff;
	border-radius: 3px;
	background-image: linear-gradient( 122deg, #d64635 0%, #ff604d 100%);
	box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.2);
	font-weight: 500;
	border: 0;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger:not([disabled]):not(.disabled).active,
.btn-danger:not([disabled]):not(.disabled):active,
.show>.btn-danger.dropdown-toggle {
	background-image: linear-gradient( 122deg, #ce4333 0%, #f55c4a 100%);
	box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.3);
	color: #FFF;
}

/*****************************************************
* Area Page Styling
******************************************************/
.area-page-map {
	height: 50vh;
}

/*!******************************************************/
/** Info Window Cards*/
/*******************************************************!*/
.img-info {
	width: 100%;
}

/*style the p tag*/
.gm-style .gm-style-iw #google-popup p{
	padding: 10px;
}

.gm-style .gm-style-iw,
.gm-style .gm-style-iw div {
	overflow: visible !important;
}

.gm-style .gm-style-iw + div {
	display: none !important;
}
/*style the arrow*/
.gm-style div div div div div div div div {
	background-color: #3C61AD !important;
	padding: 0;
	margin: 0;
	top: 0;
	color: #fff;
	font-size: 16px;
}

.gm-style-iw {
	width: 350px !important;
	height: 100% !important;
	top: 0 !important;
	left: 0 !important;
	box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
	border: 1px solid rgba(72, 181, 233, 0.6);
	border-radius: 10px 10px 10px 10px;
	display: block !important;
	min-height: 300px !important;

}

/*info-window {*/
	/*background: linear-gradient(-35deg, #dc9b09, #e73c7e, #0e3dd5, #2adf5a);*/
	/*height: 150px;*/
	/*width: 200px;*/
/*}*/

.card-info {
	color: white;
	background: linear-gradient(-35deg, #dc9b09, #e73c7e, #0e3dd5, #2adf5a);
	background-size: 400% 400%;
	border-radius: 5px;
	min-width: 100%;
	min-height: 100%;
	-webkit-box-shadow: -1px 3px 18px 0px rgba(255, 255, 255, 0.75);
	-moz-box-shadow: -1px 3px 18px 0px rgba(255, 255, 255, 0.75);
	box-shadow: -1px 3px 18px 0px rgba(255, 255, 255, 0.75);
	border: 0;
	font-weight: 400;
	position: relative;
}

.card-info[class*="border"] {
	border: 1px solid #9e9e9e;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.card-info .card-body h1, .card-info .card-body h2, .card-info .card-body h3, .card-info .card-body h4, .card-info .card-body h5, .card-info .card-body h6 {
	font-weight: 400;
}

.card-info .card-body .card-title a {
	-webkit-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}

.card-info .card-body .card-title a:hover {
	-webkit-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}

.btn-floating {
	-webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
	width: 47px;
	height: 47px;
	position: relative;
	z-index: 1;
	vertical-align: middle;
	display: inline-block;
	overflow: hidden;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	margin: 10px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	padding: 0;
	cursor: pointer
}

.btn-floating i {
	font-size: 1.25rem;
	line-height: 47px
}

.btn-floating i {
	display: inline-block;
	width: inherit;
	text-align: center;
	color: #fff
}

.btn-floating:hover {
	-webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(255, 255, 255, .19);
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(255, 255, 255, .19)
}

.btn-floating:before {
	-webkit-border-radius: 0;
	border-radius: 0
}

@media only screen and (max-width: 992px) {
	.carousel-multi-item .carousel-indicators li {
		margin-bottom: -1.88rem
	}
}

.card-img-top {
	width: auto;
	border-top-left-radius: calc(.25rem - 1px);
	border-top-right-radius: calc(.25rem - 1px)
}

.card-info.card-cascade .view.view-cascade {
	-webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
	-webkit-border-radius: .25rem;
	border-radius: .25rem
}

.card-info.card-cascade.wider {
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color: transparent
}

.card-info.card-cascade.wider .view.view-cascade {
	z-index: 2
}

.card-info.card-cascade.wider .card-body.card-body-cascade {
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
	margin-left: 4%;
	margin-right: 4%;
	background: #fff;
	z-index: 1;
	-webkit-border-radius: 0 0 .25rem .25rem;
	border-radius: 0 0 .25rem .25rem
}

.card-info.card-cascade.wider.reverse .card-body.card-body-cascade {
	z-index: 3;
	margin-top: -1rem;
	-webkit-border-radius: .25rem;
	border-radius: .25rem;
	-webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15)
}

.view {
	position: relative;
	overflow: hidden;
	cursor: default
}

.card-info .btn-action {
	margin-top: -1.44rem;
	margin-bottom: -1.44rem
}

.mdb-color.darken-2 {
	background: #4285f4 !important;
	color: black;
}

.btn-floating.fa {
	color: black;
}

.card-img-top {
	width: 100%;
	border-top-left-radius: calc(.25rem - 1px);
	border-top-right-radius: calc(.25rem - 1px)
}