<!--
 this component is the modal that will "pop up" when a user elects
 to create a profile. It will be accessible from the landing (home)
 page or from the nav.
-->

<main>
	<div class="modal fade" id="sign-up-modal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="signUp">Sign Up Here</h5>

					<!-- Close modal button -->
					<button type="button" class="close" data-dismiss="modal" aria-label="Close modal">
						<span aria-hidden="true">&times;</span>
					</button>
					<!-- /Close modal button -->

				</div><!-- modal-header/title -->
				<div class="modal-body">
					<form [formGroup]="signUpForm" novalidate>

						<!-- atHandle input-->
						<div class="form-group">
							<div class="control-group">
								<label class="control-label" for="atHandle">Username:</label>
								<div class="controls">
									<input id="atHandle" name="atHandle" class="input-group" type="text" placeholder=""
											 required="required">
								</div>
							</div>
						</div>

						<!-- Email input-->
						<div class="form-group">
							<div class="control-group">
								<label class="control-label" for="email">Email:</label>
								<div class="controls">
									<input id="email" class="input-group" type="text" placeholder="" required="required">
								</div>
							</div>
						</div>

						<!-- Password input-->
						<div class="form-group">
							<div class="control-group">
								<label class="control-label" for="password">Password:</label>
								<div class="controls">
									<input id="password" name="password" class="input-group" type="password"
											 placeholder="********" required="required">
								</div>
							</div>
						</div>

						<!-- Confirm password input-->
						<div class="form-group">
							<div class="control-group">
								<label class="control-label" for="confirmPassword">Confirm Password:</label>
								<div class="controls">
									<input id="confirmPassword" class="input-group" type="password" placeholder="********"
											 required="required">
								</div>
							</div>
						</div>

						<!-- reCAPTCHA -->
						<br />
						<div class="g-recaptcha" data-sitekey="6LdKfG8UAAAAALQclWc2Mm5-iiauFbb30zWNNHVa"></div>

						<!-- Buttons -->
						<div class="modal-footer">
							<button type="reset" class="btn btn-warning text-light"><i class="fas fa-undo"></i>Reset</button>
							<button type="button" class="btn btn-primary" (click)="createSignUp();">Sign Up</button>
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
</main>
